/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-feb-2020, 12.24.39
    Author     : devis
*/



header {
    color: white;
    padding: 0.5em;
    text-align: center;
}



.confirm {
    font-size: 1.25rem; 
    line-height: 1.6; 
    margin-bottom: 1.5rem; 
    font-style: italic;
}

.invalid-input {
    color: #bd2626;
    font-weight: bold;
}

.titolo {
    color: rgba(255, 255, 0, 0.826);
    font-family: monospace;
    text-decoration:none
}

p {
    font-family: monospace;
}

html, body {
    height: 100%; /* Assicura che l'altezza della pagina occupi tutto lo schermo */
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
}

footer {
    margin-top: auto; /* Spinge il footer in fondo */
    border-top: 2px solid #357ebd;
}

